<div class="container">
  <h2>Create Todos</h2>
  <div class="todo-list-form">
    <mat-form-field>
      <mat-label>Todo List Item</mat-label>
      <input matInput placeholder="E.g. Send Email" [formControl]="newTodo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select [formControl]="todoPriority" [disableOptionCentering]="true" required>
        <mat-option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="newTodo.invalid || todoPriority.invalid" (click)="addNewTodo()">Add Todo</button>
  </div>
  <h2>Todos</h2>
  <div class="todo-list-form">
  <mat-tab-group (selectedTabChange)="selectTab($event.index)" mat-align-tabs="center">
    <mat-tab class="todo-item" label="All">
      <app-todo-list [todos]="allTodos$ | async" (changeStatus)="changeTodoStatus($event)" (changeName)="changeTodoName($event)" (remove)="removeTodo($event)"></app-todo-list>
    </mat-tab>
    <mat-tab class="todo-item" label="In Progress">
      <app-todo-list [todos]="filteredTodos$ | async" (changeStatus)="changeTodoStatus($event)" (changeName)="changeTodoName($event)" (remove)="removeTodo($event)"></app-todo-list>
    </mat-tab>
    <mat-tab class="todo-item" label="Completed">
      <app-todo-list [todos]="filteredTodos$ | async" (changeStatus)="changeTodoStatus($event)" (changeName)="changeTodoName($event)" (remove)="removeTodo($event)"></app-todo-list>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>