.container {
  max-width: 800px;
  margin: 50px auto;
}

.todo-list-form {
      align-items: center;
      border-radius: 1rem;
      margin-top: 1rem;
      justify-content: space-around;
      border-style: outset;
      border-width: thin;
      background: white;
}
.todo-list-form mat-form-field {
  margin-right: 20px;
}
.mat-tab-group {
  margin-top: 10px;
}

mat-form-field {
  padding: 3rem;
}
